<mat-card>
    <mat-card-content>
        <a href="" routerLink="/detallesPokemon/{{indice+1}}"><img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{indice+1}}.png" alt="{{pokemon.name}}"></a>
        <span matBadge="4" matBadgeOverlap="false">ID:{{indice+1}} </span>
        <div><strong>Tipo:</strong></div>
        <p *ngFor="let tipo of tipoPokemon | async">
            <app-tipo [indice]="indice+1" [tipo]="tipo"></app-tipo>

        </p>
    </mat-card-content>

    <mat-card-title>
        {{pokemon.name}}

    </mat-card-title>
    <mat-card-footer>




    </mat-card-footer>
</mat-card>